{% extends "template.html" %}
{% block conteudo %}

<a class="btn btn-primary" href="{{ url_for('novo_jogo') }}">Novo Jogo</a>
<a class="btn btn-primary" href="{{ url_for('cadastro') }}">Cadastro</a>
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-danger" href="{{ url_for('logout')}}">Logout</a>

<table class="table table-striped table-responsive table-bordered">
    <tbody class="row justify-content-center d-flex">
        <div class="row">
            {% for jogo in jogos: %}
            <div class="col-3 justify-content-center divJogos">
                <img class="img-fluid" style="margin-top: 15px;" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
                <p style="margin-left: 15px;"> {{ jogo.nome }} </p>
                <p style="margin-left: 15px;"> categoria: {{ jogo.categoria }} </p>
                <p style="margin-left: 15px;"> console: {{ jogo.console }} </p>
                <p style="margin-left: 15px;"> descricao: {{ jogo.descricao }} </p>
                <a class="btn btn-primary" href="{{url_for('jogo_page', id=jogo.id)}}">Abrir</a>
            </div> 
            {% endfor %}
        </div>
    </tbody>
</table>
</div>

{% endblock %}